<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="druid.properties"></properties>
    <settings>
        <!--开启下划线风格转换为驼峰风格
            数据库设置采用下划线风格
            Javabean采用驼峰风格
            二者不匹配，所以需要开启-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

<!--  配置拦截器  -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>



    <!--数据库环境
        environments可以包含多个environment
        每一个environment代表数据库环境
    -->
    <environments default="mysql">
        <environment id="mysql">
            <!--事务管理方式:JDBC-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据库-->
            <dataSource type="com.ljp.util.MyDruidDataSourceFactory">
                <!--驱动名称-->
                <property name="driverClassName" value="${druid.driverClassName}"/>
                <!--连接字符串-->
                <property name="url" value="${druid.url}"/>
                <!--用户名-->
                <property name="username" value="${druid.username}"/>
                <!--密码-->
                <property name="password" value="${druid.password}"/>
                <!--初始大小-->
                <property name="initialSize" value="${druid.initialSize}"/>
                <!--最大连接数-->
                <property name="maxActive" value="${druid.maxActive}"/>
                <!--最小空闲-->
                <property name="minIdle" value="${druid.minIdle}"/>
                <!--最大等待时间-->
                <property name="maxWait" value="${druid.maxWait}"/>
            </dataSource>

        </environment>
    </environments>



    <!--添加映射-->
    <mappers>
        <mapper class="com.ljp.dao.UserDao"/>
        <mapper class="com.ljp.dao.GoodsTypeDao"/>
        <mapper class="com.ljp.dao.GoodsDao"/>
        <mapper class="com.ljp.dao.CartDao"/>
        <mapper class="com.ljp.dao.AddressDao"/>
        <mapper class="com.ljp.dao.OrderDao"/>
        <mapper class="com.ljp.dao.OrderDetailDao"/>
    </mappers>




</configuration>

